@import "consts";
body {
    background-color: $bodyBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

*,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    position: absolute;
}