@import "consts";
.enemy {
    // background-color: $enemyColor;
    position: absolute;
    width: #{$enemyWidth}px;
    height: #{$enemyHeight}px;
    // TODO use @for
    &.enemy1 {
        background-image: url('assets/enemy1-r.gif');
    }
    &.enemy2 {
        background-image: url('assets/enemy2-r.gif');
    }
    &.enemy3 {
        background-image: url('assets/enemy3-r.gif');
    }
    &.enemy4 {
        background-image: url('assets/enemy4-r.gif');
    }
}
