@import "consts";
// .shield {
//     background-color: $shieldColor;
//     width: #{$shieldWidth}px;
//     height: #{$shieldHeight}px;
//     position: absolute;
//     bottom: $shipHeight * 2;
// }

// .shield {
//     position: absolute;
// }

// .shield:after {
//     content: '';
//     display: inline-block;
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     background: transparent;
//     top: -1px;
//     left: -1px;
//     // @here box-shadow: // TODO with sass loop and create under stuff
// }

// .shield:after{
//     box-shadow: 1px 2px gray, 2px 1px gray, 2px 3px gray, 3px 2px gray;
// }

// .img.img2:after {
//     box-shadow: 1px 1px gray, 3px 1px gray, 2px 2px gray, 1px 3px gray, 3px 3px gray;
// }

.shield {
    position: absolute;
    // top:0px;
    // left:0px;
    width: $shieldWidth;
    height: $shieldHeight;
    // TODO add -moz, -ms, etc...
    -webkit-filter: blur(.3px);
    .row {
        // position: relative;
        // top: 0px;
        // left: 0px;
        // height: 1px;
        .col {
            // top: 0px;
            // left: 0px;
            // position: relative;
            height: 1px;
            width: 1px;
            background-color: $shieldColor;
            display: table-cell;
        }
        .col.destroyed {
            background-color: transparent;
        }
    }
}