@import "consts";
#ship {
    // background-color: $shipColor;
    width: #{$shipWidth}px;
    height: #{$shipHeight}px;
    position: absolute;
    bottom: 0;
    background-image: url('assets/ship.png');
    &.destroyed {
        // this doesn't work because the browser cache the image and it doesn't loop anymore after refreshing the page
        // background-image: url('assets/small-explosion-loop-once.gif');
    }
}