@import "consts";
#ship {
    // background-color: $shipColor;
    width: #{$shipWidth}px;
    height: #{$shipHeight}px;
    position: absolute;
    bottom: 0;
    background-image: url('assets/ship.png');
    &.destroyed {
        // this doesn't work because the browser cache the image and it doesn't loop anymore after refreshing the page
        // background-image: url('assets/small-explosion-loop-once-r.gif');
    }
    &.blink {
        animation: blink-animation .2s steps(5, start) infinite;
        -webkit-animation: blink-animation .2s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
}